{{dbArticle}}

<h1 id="articleID" style="display:none">{{dbArticle._id}}</h1>

<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="body">Comment</label>
    <input type="textarea" class="form-control" id="body">
  </div>
  <button type="submit" class="btn btn-primary" id="submitButton">Add Comment</button>
</form>

<script type="text/javascript" src="/assets/js/comments.js"></script>