<div class="container">
    <button type="button" class="btn btn-primary" id="scrape">Scrape!</button>
    {{#each dbArticles}}
    <div class="row">
        <div class="column col-16">
            <div class="card mt-1 mb-2" style="_width: 18rem;">
                <div class="card-body">
                    <a href={{link}} target="_blank" class="card-title">{{title}}</a>
                    <a href="/comments/{{_id}}" class="btn btn-primary">Comments</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script type="text/javascript" src="/assets/js/scraper.js"></script>