<div class="container">
    {{#each dbArticles}}
    <div class="card mt-1 mb-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <button type="button" class="btn btn-primary" data-id={{_id}}>Comments</button>
        </div>
    </div>
    {{/each}}
</div>